<h1>Welcome to Rock, Paper and Scissors</h1>
<h2>Enter your name:<h2>

<form action="/play" method="post">
  <label for="name">
  Name:
  <input type="text" name="name">
  </label>
  <input type="submit" value="Submit">
</form>